[Desktop Entry]
Type=X-Zim-CustomTool
Version=1.0
GenericName=
Name=Decrypt (Home)
Comment=
Exec=
TryExec=
Icon=
MimeType=
Terminal=false
NoDisplay=false
X-Zim-ExecTool=/home/jens/bin/homedecrypt %t
X-Zim-ReadOnly=false
X-Zim-ShowInToolBar=false
X-Zim-ShowInContextMenu=Text
X-Zim-ReplaceSelection=true

