.android/
.atom/
.awesome-errors
.bash_history
Bilder/
.cert/
.config/Atom/
.config/chromium/
.config/GIMP/
.config/google-chrome/
.config/Insomnia/
.config/smplayer/file_settings
**Cookie*
**cookie*
**cache**
**Cache**
Desktop/
Dokumente/
Downloads
Downloads/
Dropbox/
.gnupg/
GoogleDrive/
.gradle/
.ICEauthority
.icons/
icons/
Image-Line/
.java/
.local/share/
**/Local\ Storage/**
**.lock
**.log
.m2/
.mozilla/
Musik/
My\ GCompris/
.netbeans/8.1/
.netbeans-derby/
NetBeansProjects/
node_modules/
.node-gyp/
.npm
.PlayOnLinux**
PlayOnLinux\'s\ virtual\ drives
Projekte/
.recently-used
Schreibtisch/
.ssh/
.ssh-agent*
.subversion
.themes/
.thumbnails/
.thunderbird/
**.trash**
.tuxpaint/
Videos/
.VirtualBox
.wine/
workspace/
.Xauthority
.xsession*
backup/
Dev/
*.backup
_System/raspi/
**.log*
*certificate*
*certs*

*VirtualBox*
known_hosts*
*log.txt*
.dbus/
.links/
.config/geany/geany.conf
.config/gtk-2.0/gtkfilechooser.ini
