**.lock
**.log
**.log*
**.trash**
**/Local\ Storage/**
**Cache**
**Cookie*
**cache**
**cookie*
.cache/**
*.backup
*VirtualBox*
*certificate*
*certs*
*dump*
*log.txt*
.EasyPmd*
.ICEauthority
.IntelliJIdea15/*
.PlayOnLinux**
.Skype/*
.VirtualBox
.Xauthority
.aliasesrc
.android/
.asadminpass
.atom/
.awesome-errors
.bash_history
.cert/
.config/Atom/
.config/Cadence/
.config/CuteCom/
.config/GIMP/
.config/GitExtensions/**
.config/Insomnia/
.config/Mathias Laurin/
.config/QtProject.conf
.config/Slack/*
.config/Trolltech.conf
.config/bleachbit/*
.config/chromium/
.config/configstore
.config/dconf/user
.config/enchant/
.config/falkTX/
.config/filezilla/
.config/fontforge/
.config/geany/geany.conf
.config/git-cola/
.config/google-chrome/
.config/googlecl/
.config/gtk-2.0/gtkfilechooser.ini
.config/jack/
.config/mirage/
.config/moserial.conf
.config/performous/
.config/plasma*
.config/pulse/
.config/q4wine/db/
.config/qgit/
.config/rncbc.org/
.config/rosegardenmusic/
.config/smplayer/
.config/smplayer/file_settings
.config/totem/
.config/user-dirs.dirs
.config/vlc/vlc-qt-interface.conf
.dbus/
.docker/**
.dropbox/
.dvdcss/
.electrum
.emulator_console_auth_token
.entropy/last_notices/*
.entropy/recent_searches/*
.freetz-ccache
.gnupg/
.gradle/
.gtkrc-2.0
.icons/
.install4j
.ionic/*
.isomaster
.java/
.lesshst
.links/
.local/share/
.m2/
.mozilla/
.netbeans-derby/
.netbeans/8.1/
.node-gyp/
.node_repl_history
.npm
.npmrc
.oh-my-zsh
.pinerc
.pki/
.pulse/
.qucs/
.recently-used
.rnd
.ssh-agent*
.ssh/
.subversion
.themes/
.thumbnails/
.thunderbird/
.tuxpaint/
.v8flags*
.vidalia/
.viminfo
.wavemonrc
.wepdecrypt
.wget-hsts*
.wine/
.x2go*
.xfce4-session.verbose-log*
.xsession*
.zsh-update
.zsh_history
.zshrc.pre-oh-my-zsh
Bilder/
Desktop/
Dokumente/
Downloads
Downloads/
Dropbox/
GlassFish*
Glassfish*
GoogleDrive/
Google\ Drive/*
IdeaProjects/*
Image-Line/
Musik/
My\ GCompris/
NetBeansProjects/
PlayOnLinux\'s\ virtual\ drives
Projekte
Projekte/
Schreibtisch/
Software
Videos/
_System
backup/
known_hosts*
mm.cfg
node_modules/
workspace/
.config/wireshark/recent*
.config/Thunar/accels.scm
.config/libreoffice
Ableton
.macromedia
.adobe
accels
tmp/**
.entropy/last_notices
.entropy/recent_searches
.entropy/ws_cache
.cordova
